autom4te.cache
Makefile
*/Makefile
*/*/Makefile
*/.deps
*/.libs
*/*.o
*/*/*.o
*/*.lo
*/*.la
*/*/*.Plo
examples/addremove
examples/enable_disable
examples/grid
examples/grid_array
examples/lissajous
examples/Makefile
examples/markers
examples/signals
.gitignore~
config.*
libtool

