aclocal.m4
configure
autom4te.cache
Makefile.in
*/Makefile.in
*/*/Makefile.in
*/*/*/Makefile.in
Makefile
*/Makefile
*/*/Makefile
*/.deps
*/.libs
*/*.o
*/*/*.o
*/*.lo
*/*.la
*/*/*.Plo
gtkdatabox.pc
gtkdatabox.spec
examples/addremove
examples/enable_disable
examples/grid
examples/grid_array
examples/lissajous
examples/Makefile
examples/markers
examples/signals
examples/basics
examples/full
examples/basics2
examples/basics_libglade
examples/colors
examples/keycontrol
examples/logarithmic
examples/rulers
.gitignore~
config.*
libtool
gtkdatabox/*
gtkdataboxvc++/ipch
gtkdataboxvc++/gtkdataboxvc++.opensdf
gtkdataboxvc++/Release
gtkdataboxvc++/Debug
ltmain.sh
*~
